:root{
--background: #EE8334;

}

html, body {
    height: 100%;
}

header{
    padding: 2%;
    margin: 1%;
    position: relative;
    text-align: center;
    background-color: var(--background);
    font-family: Paytone One;
}

body{
    font-family: Paytone One;
    background-image: url(https://images.pexels.com/photos/858466/pexels-photo-858466.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    /* background-image: url(https://images.pexels.com/photos/3394221/pexels-photo-3394221.jpeg?cs=srgb&dl=pexels-inga-seliverstova-3394221.jpg&fm=jpg); */
    background-size: 100% 100%;
}

h1{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2vw;
}

a{
    z-index: 10;
}

img{
   z-index: -1;
}

.hide {
    display: none;
}

.search-results{
    border: black solid 1px;
}

.navbar-menu{
    margin: 1%;
    text-align: center;
    border: black solid 1px

}

table{
    margin:auto;
}
.btn {
    margin: 1%;
}
