:root{
--background: #EE8334;

}

html, body {
    height: 100%;
}

header{
    padding: 2%;
    margin: 0% 1% 1% 1%;
    position: relative;
    text-align: center;
    background-color: var(--background);
    font-family: Paytone One;
}

body{
    font-family: Paytone One;
    background-image: url(https://images.pexels.com/photos/858466/pexels-photo-858466.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: 100% 100%;
    
}

h1{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2vw;
}

a{
    z-index: 10;
}

img{
   z-index: -1;
}

.hide {
    display: none;
}

.logo-title{
    align-self: center;
}

.search-results{
    border: black solid 1px;
}

.navbar-menu{
    margin: 1%;
    text-align: center;
}

table{
    margin:auto;
}


@media only screen and (max-width: 600px) {
    .logo-el {
        display: none;
    }
/* remove logo at smaller screen */

.btn {
    margin: 1%;
}

